@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Righteous&display=swap');

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: white;
    color: #070480;
    border-bottom: 0.5px dotted grey;
    z-index: 10001;
}

.logo {
    font-family: 'Righteous', cursive;
}

.navMenu a {
    margin: 0 2rem;
    padding: 1rem;
    color: #070480;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
}

.navMenu a:hover {
    color: #FF7D7D;
}

.header .navBtn {
    font-size: 1.8rem;
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #070480;
    visibility: hidden;
    opacity: 0;
 
}

.header .shopBtn {
    font-size: 1.8rem;
    cursor: pointer;
    border: none;
    background: transparent;
    outline: none;
    color: #070480;
}




/*Responsive */
@media only screen and (max-width: 1024px){
    .header .navBtn {
        visibility: visible;
        opacity: 1;
    }

    .header .navMenu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: white;
        transition: 1s;
        transform: translateY(-100vh);
        z-index: 1;
    }

    .header .responsiveNav {
        transform: none;
    }

    .navMenu .navHidBtn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .navMenu a {
        font-size: 1.5rem;
    }
  
}